alabaster==0.7.10
apipkg==1.4
Babel==2.5.1
certifi==2017.7.27.1
chardet==3.0.4
docutils==0.14
execnet==1.5.0
funcsigs==1.0.2
future==0.16.0
idna==2.6
imagesize==0.7.1
Jinja2==2.9.6
MarkupSafe==1.0
mock==2.0.0
pbr==4.0.3
pluggy==0.5.2
py==1.4.34
Pygments==2.2.0
pytest==3.2.3
pytest-forked==0.2
pytest-mock==1.10.0
pytest-runner==3.0
pytest-xdist==1.22.2
pytz==2017.3
requests==2.18.4
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.5
sphinxcontrib-websupport==1.0.1
tox==2.9.1
typing==3.6.2
urllib3==1.22
virtualenv==15.1.0
